@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;

    background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/d7a5dc172386669.647ea1b79baeb.png);
    background-position: center;
    background-size: cover;
}

.form-box {
    position: relative;
    width: 400px;
    height: 550px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;

}

h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus~label,
input:valid~label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.registrar{
    width: 30%;
    height: 30px;
    border-radius: 40px;
    background: #ff0000;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;   
    position: relative;
    left: 50px; 
}

.voltar{    
    width: 30%;
    height: 30px;
    border-radius: 40px;
    background: #fffb00;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    position: relative;
    left: 50px; 
}

.registrar:hover{
color: rgb(255, 255, 255);
}

.voltar:hover{
color: rgb(255, 255, 255);
}

.inputbox i{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
    cursor: pointer;
}
.inputbox i:hover{
    color: black;

}