html,
body,
* {
    -webkit-app-region: drag;
    cursor: default;
}

body {
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-height: 100vh;
    height: 100vh;
    overflow-y: hidden;
}


.perfil {
    width: 100%;
}


.playlist-header {
    padding: 20px;
}

.playlist-header {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(119, 119, 119, 1) 100%);
}

.playlist-content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 20px;
}

.playlist-cover img {
    width: 250px;
    height: 250px;
    box-shadow: 0px 2px 35px -1px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0px 2px 35px -1px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 2px 35px -1px rgba(0, 0, 0, 0.45);
}

.playlist-info {
    color: white;
    padding-left: 20px;
}

.playlist-artouv {
    font-size: 12px;
    font-weight: 600;
    font-family: "AvenirLTStd-Black";
}

.playlist-titleartist {
    font-size: 86px;
    font-weight: 1000;

    margin-top: 10px;
    font-family: "AvenirLTStd-Black";
}

.playlist-description {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    color: #B5B5B5;
}

.playlist-stats img {
    position: relative;
    top: 6px;
}

.playlist-stats span:first-of-type {
    font-weight: 1000;
    font-family: "AvenirLTStd-Black";
}



.playlist-songs-container {
    height: 1000px;
    padding: 20px;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgb(85, 85, 85) 0%, rgb(0, 0, 0) 22%, rgb(14, 12, 68) 100%);
}

.playlist-songs {
    margin-top: 20px;
}

.playlist-songs table {
    border-collapse: collapse;
    width: 100%;
}

.playlist-songs table tr td,
.playlist-songs table tr th {
    padding: 10px;
    color: #CACACA;
}

.playlist-songs table tr th {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2px;
}


.playlist-songs table tr:first-of-type {
    border-bottom: 1px solid #b1b1b1;
}

.playlist-songs table th {
    text-align: left;
}

.playlist-songs table tr th:first-child {
    width: 2%;
}

.playlist-songs table tr th:nth-child(2) {
    width: 40%;
}

.song-image img {
    width: 34px;
    height: 34px;
}

.song-title {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.song-name-album {
    padding-left: 15px;
    letter-spacing: 0.5px;
}


.song-name,
.footer-player-left-song-name {
    font-weight: 400;
    font-size: 14px;
    color: white;
}

.song-artist,
.song-album,
.song-date-added,
.footer-player-left-song-artist,
.player-time,
.song-duration {
    font-size: 12px;
    margin-top: 6px;
    color: #969696 !important;
}
.link-zoom::before {
    content: " ";
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: -2px;
    padding: 0 2px;
    width: calc(100% + 2px);
    height: 1px;
    border-bottom: 1px solid #1f116e;
    transition: 0.4s;
  }
  .link-zoom::after {
    content: " ";
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: calc(50% - 4px);
    padding: 0 2px;
    width: 0;
    height: 0;
    border: 1px solid transparent;
    transition: 0.4s;
  }
  .link-zoom:hover::before {
    border-color: transparent;
  }
  .link-zoom:hover::after {
    width: 100%;
    height: 1.25em;
    left: -1em;
    bottom: -0.35em;
    padding: 0.5em 1em;
    border-color: #00285c;
    background-color: #0d0e61;
    border-radius: 2.5em;
  }
  .link-zoom {
    display: inline-block;
    transition: 0.3s;
    transition-delay: 0s;
    transform: scale(1);
  }
  .link-zoom:hover {
    color: #fff;
    transform: scale(1.5);
    transition-delay: 0.11s;
  }
  a{
    color: #fff;
  }
button{
  background-color: #ff0000;
}